/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/* reset */
body,hmtl{
	width:100%; 
	height:100%;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%; }
/*end reset*/
@font-face {
	font-family: 'AmbleRegular';
    src: url( ../fonts/Amble-Light-webfont.ttf ) format("truetype"); 
}
html
{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
	background:#fff;
	font-family: 'Poiret One', 'Underdog';
}
.header{
    width:100%;
	margin:0 auto;
	/* background-color:black; */
	background: url(../images/poz0.jpg);
	/* background-repeat:no-repeat; */
	/* background-position:top right; */
	  /* background-size:  100% 100%; ines pogledaj ovo, ne znam sta da mu radimo :D */
	 background-size: cover;
}
.header-top{
	/*border-bottom: 2px ridge #333;*/
	background: url(../images/drvo.png);
	background-position: center;
	background-size: 100% 100%;
	margin: 0 auto;
	
	font-family: 'Underdog', cursive;
	position: fixed;
	overflow: visible;
	width: 100%;
	z-index: 500;
	transition-duration: 0.4s;
}

.dropdown {
  float: left;
  overflow: hidden;
  display: none;
}

.vesti{
    height: 480px;
    width: 50%;
 
   
    display:block;
    float:left;
    margin-bottom: 10%;
    margin-top: 8%;
    padding-left: 10%;
    
}
.skrol{
    width: 50%;
    height: 480px;
    
    background: url(../images/akcija2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size: 70% 100%;
    text-align: center;
    padding-top: 9%;
    padding-left: 14%;
    padding-right: 14%;
    font-family: 'Underdog';
    margin-bottom: 10%;
    margin-top: 8%;
    display:inline;
    float:left;
}

.block
{
	margin-top: 0;
}
.banner
{
	/*margin-top: 300px;*/
}

/*#example-one.group
{
	position: fixed;
}*/

.wrap{
	width:90%;
	margin:0 auto;
        
}
.logoslika{
	width:200px;
	height:200px;	
	/*position: fixed;*/
	transition-duration: 1s;
}
.sticky{
	width:23%;
	height:23%;	
	position: center;
	padding-top: 85px;
	transition-duration: 1s;
	
}
.sticky1{
	background: url(../images/drvo1.png);
	background-size: 100% 100%;
	margin-top: -86px;
	padding-top: -86px;
	transition-duration: 0.4s;
	
}

.nav-wrap1 example-one{
    margin-top:-200px;

}
.ceoGornji
{
	font-color:gray;
}
.reglog{
	float:right;
	margin-left:20px;
	margin-right:20px;
	font-size:16px;
}
#map{
	 height: 350px;
     width: 38%;
	 float:left;
	 margin:2%;
}
.banner-no{
	float:left;
	
}
/*--menu--*/
header { padding: 0 0 0 0; display: block; margin:0; }
header h1 { width: 960px; margin: 0 auto; }
a:hover { color: white; }
.nav-wrap { 
	float: right;
	width: 67%;
	margin: 50px; 
        transition-duration: 0.1s;
}
.nav-wrap ul{
	float:right;
}
/* Clearfix */
.group:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }
*:first-child+html .group { zoom: 1; } 
/* Example One */
#example-one { 
	margin: 0 auto; 
	margin-top: 15px;
	list-style: none; 
	position: relative;
	
}

#example-one li { 
	display: inline-block;	
	margin-right: 20px;
}
#example-one a { 
	color: white; 
	font-size: 14px; 
	float: left;
	padding: 6px 10px 4px 10px;
	text-decoration: none;
	text-transform: uppercase;
}
#example-one a:hover { 
	color:#DB9603;
}
#magic-line { 
	position: absolute;
	bottom: -2px; 
	left: 0; 
	width:10px; 
	height: 2px; 
	background:#DB9603;
}
.ie6 #example-one li, .ie7 #example-one li { 
	display: inline; 
}
.ie6 #magic-line {
	bottom: -3px;
}
.natpisAkademsko{
	font-family: 'Poiret One', 'Underdog', 'Arial';
	font-size: 50px;
	text-align: center;
	padding-top: 250px;
	color: white;
        padding-bottom: 3%;
}
/* .h-logo{ */
	/* float:left; */
/* } */
/*--banner--*/
.main img{
	display:block;
}
.block{
	padding-top: 20px;
}
#reservation-form {
	float:right;
	margin-top:6px;
}
#reservation-form .field{
	float:left;
}
#reservation-form .field1{
	float:left;
}
#reservation-form .field {
	display: block;
	height: 55px;
	font-size: 13px;
	color: #FAC9A9;
	margin-bottom: 10px;
}
#reservation-form select {
	border: 1px solid #5D3825;
	background:#DB9603;
	color: #fff;
	outline: none;
	padding: 5px;
	float: left;
}
#reservation-form select.select1 {
	width:200px;
	margin-right: 10px;
}
#reservation-form select.select2 {
	width:200px;
	margin-right: 10px;
}
#reservation-form label {
	display: block;
	padding-bottom: 4px;
	font-size: 13px;
	color:#aaa;
}
.triSlike{
	text-align:center;
	color: #900b0b;
	font-size:30px;
	margin:0 auto;
	margin-top: 0px;
	height:50%;
	width:94%;
	/*background-color:black;*/
	padding:3%;
        padding-top: 0;
}

.triSlikeImg{
        border: 1px white solid;
	width:25%;
	margin:3%;
        margin-top: 0;
	height:100%;
	 -webkit-filter: brightness(100%);
	  transition: transform 0.8s ease;
          box-shadow: 5px 5px 12px black;
}
.triSlikeImg:hover{  /* svasta mozeee */
	  /* -webkit-filter: grayscale(100%);  */
    /* opacity: 0.7; */
    /* filter: alpha(opacity=70);  */
	 /* border: 1px solid white;  */
	  -webkit-filter: brightness(200%);
	  transform: scale(1.1);
}
.slikaOdTri{
	float:left;
	border: 1% solid yellow;
}
/*--Content--*/
.content{
	
	padding:0;
        
	width:100%;
	background: url(../images/content.jpg);
	background-size: cover;
	/* padding: 20px 0; */
}
/*  GRID OF THREE   ============================================================================= */
.listview_1_of_3{
	display: block;
	float:left;
	margin: 0% 0 0% 1.6%;
}
.listview_1_of_3 h3{
	color:#FCAC03;
	font-size:2em;
	margin-bottom:5%;
}
.extra-wrap {
	overflow: hidden;
}
.data {
	color: #989898;
	margin-bottom: 1px;
}
.color {
	color: #1344B0;
	text-decoration: underline;
	line-height: 1.8em;
	font-size: 13px;
}
a:hover {
	text-decoration: none;
	color: #1344B0;
}
.text-top {
	padding-top: 6px;
	display: inline-block;
	font-size: 13px;
	line-height: 1.8em;
	color: #888;
}
.listimg{
	display: block;
	float:left;
}
.listimg1{
	width:47%;
	float:left;
	margin-right: 6%;
}
.listimg1 img, .listimg2 img{
	margin-bottom: 3%;
}
.listimg2{
	width:47%;
	float:left;
	margin-right:0;
}

.ribbon
{
	width:100%;
	
}

.link {
	font-size: 12px;
	line-height: 20px;
	color: #313131;
	font-weight: bold;
	text-decoration:underline;
	line-height: 1.8em;
}
.link:hover{
	text-decoration:none;
	color: #313131;
}
.link2 {
	font-size: 14px;
	line-height: 20px;
	color:#FCAC03;
	font-weight: bold;
	background: url(../images/s-icon.png) 55px 6px no-repeat;
	padding-right: 15px;
	display: inline-block;
	margin-bottom: 10%;
}
.link2:hover{
	text-decoration:underline; 
	color:#FCAC03;
}
.middle-list{
	margin-bottom:5%;
}
.text{
	display: block;
	float:left;
	margin: 0% 0 7% 3.6%;
}
.listview_1_of_3:first-child { margin-left: 0; }

.images_1_of_3 {
	width: 29.2%;
	padding:1.5%; 
}
.listimg_1_of_2{
	width:28.2%;
}
.list_1_of_2 {
	width: 68.2%;
}
.images_1_of_3  img {
	max-width:100%;
	display:block;
}
.list_1_of_2  h3{
	color:#C94848;
	margin-bottom:0.2em;
	margin-top:0;
	font-size:1em;
	font-family:  MuseoSlab300, 'lucida sans unicode', 'lucida grande', 'Trebuchet MS', verdana, arial, helvetica, helve, sans-serif;
	font-weight : normal;
	letter-spacing: -1px;
}
.list_1_of_2  p{
	font-size:0.8125em;	
	color: #333;
	line-height: 1.5em;
	font-family : verdana, arial, helvetica, helve, sans-serif;
	padding:0; 	
}
.nav-wrap1{
    float: right;
	width: 67%;
        margin-top: -65px;
transition-duration: 0.1s;
}
/***** Media Quries *****/

@media only screen and (max-width: 1366px) {
	.wrap{
		width:90%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) {
	
	.wrap{
		width:95%;
	}
	.listview_1_of_3{ 
		margin: 2% 0 2% 0%;
	}
	.text{
		margin: 0% 0 3% 3%;
	}
	.images_1_of_3 {
		width:94%;
		padding:3%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	
	.wrap{
		width:95%;
	}
	.listview_1_of_3{ 
		margin: 2% 0 2% 0%;
	}
	.text {
		margin: 0% 0 6% 3%;
	}
	.images_1_of_3 {
		width:92%;
		padding:4%;
	}
}
p.s-img a:hover{
	opacity:0.5;
}
.link4 {
	font-weight: bold;
	color: #E3480B;
	display: inline-block;
	font-size: 13px;
	margin-bottom: 4%;
	text-decoration:underline;
}
.link4:hover {
	text-decoration:none;
	color: #E3480B;
}
.color1{
	color: #989898;
	font-size: 13px;
}
.link-top {
	margin-top: 11px;
	display: inline-block;
}
.color2{
	text-decoration: underline;
	font-size:13px;
	line-height:1.8em;
	color:#1344B0;
}
/*--Footer--*/
.footer {
	
}
.footer-top{
	padding: 20px 0;
}
/*  GRID OF FOUR   ============================================================================= */
.col_1_of_41{
	display: block;
	float:left;
	font-size:22px;
	margin-top: 40px;
	color:#666;
	width: 33%;
	padding-top: 5%;
	
}
.col_1_of_4{
	/* display: block; */
        margin:2%;
	float:left;
	font-size:22px;
	/*height:20%;*/
	width: 28%;
	-webkit-filter: brightness(100%);
	/*transition: transform 2s ease;*/
}
.col_1_of_4:hover{
      -webkit-filter: brightness(200%);
	  /*transform: scale(1.1);*/
}

.col_1_of_41:first-child { margin-left: 70px; float:left; margin-top: 10px;} 
.span_1_of_41 {
        color: #8c8c8c;
	width: 35%;
	padding: 1%;
        padding-left: 0;
        padding-rigth: 0;
        padding-top: 5%;
	height:20%;
}
.span_1_of_4{
	width: 28%;
	padding: 1%;
        padding-left: 0;
        padding-rigth: 0;
        padding-top: 5%;
	/*height:20%;*/
        margin:2%;
        -webkit-filter: brightness(100%);
	transition: transform 2s ease;
}

.kontakt
{
    margin-bottom: 10%;
    font-size: 19px;
}

.pratite{
	
	font-size:19px;
	float: left;
}


.budihuman
{
	position: absolute;
	right: 0;
        width: 12%;
        margin-top: -5%;
	
}

.fb
{ 
	margin-left: 8px;
}
.navbarMobilni {
  background-color: #333;
  
}
/* Dropdown button */
.dropdown .dropbtn {
 
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 18px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #960100;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
 display: none;
  /*position: absolute;*/
  background-color: black;
  border: 2px solid #960100;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #f3b804;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #131313;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*.navbarMobilni1{
   margin-top: 200px;
   
}*/

.social img:hover {
	opacity:0.7;
}
.span_1_of_4  p {
	font-size:0.8125em;
	color: #666;
	line-height: 1.8em;
}
p.txt_4{
	color: #666;
	margin-top:2%;
	font-size:2em;
}
.content-top h3 {
	color: #FCAC03;
	font-size: 2em;
	padding: 1.5%;
}
/***** Media Quries *****/

@media only screen and (max-width: 1366px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_4{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_4 {
		width:94%;
		padding:3%;  
	}
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_4{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_4 {
		width:92%;
		padding:4%; 
	}
}
er-nav li {
	list-style-image: url(../images/f-icon.png);
	margin: 0 0 5px 20px;
}

.footer-nav li a {
	font-size: 18px;
	color:#666;
	vertical-align: top;
	line-height: 21px;
}
.footer-nav li a:hover{
	color:#888;
}
.footer-bottom {
	background: url(../images/drvo2.png);
	background-size: 100% 100%;
        clear: both;
	padding: 20px;
        height:10%;
}
.copy{
	text-align:center;
        font-family: 'Underdog';
}
.copy p{
	color: #960100;
	
	font-size: 16px;
    
}
.copy p a {
	color: #FCAC03;
}
.copy p a:hover {
	text-decoration:underline;
}
/*--About--*/
/*  GRID OF Content With Image and Sidebar   ============================================================================= */
.about{
	display: block;
	float:left;
}
.rightsidebar{
	display: block;
	float:left;
	margin: 0% 0 0% 1.6%;
}
.about:first-child { margin-left: 0; } 
.desc{
	display: block;
	float:left;
	margin: 0% 0 0% 2.6%;
}
.span_1_of_2{
	width: 100%;
	padding:1.5%;
}
.images_3_of_2 {
	width: 35%;
	float: left;
        height:20%;
        border: 1px white solid;
        box-shadow: 5px 5px 12px black;
}
.span_3_of_2{
    padding-top:0;
	width: 52.2%;
}
.images_3_of_22 {
	width: 100%;
	display:block;
}
.span_3_of_22{
	width: 100%;
        display:block;
}
.span_3_of_1{
	width: 25.2%;
	padding:1.5%;
}
.images_3_of_2  img {
	max-width:100%;
	display:block;
}
.span_3_of_2  h3{
	color:#C94848;
	margin-bottom:0.3em;
	font-size:1.5em;
	font-weight : normal;
	margin-top: 0px;
	letter-spacing: -1px;
}
.span_3_of_2  p  {
	font-size:0.8125em;
	padding:0.3em 0;
	color: #888;
	line-height: 1.8em;
}
.span_3_of_1 p {
	font-size:0.8125em;
	padding:0.42em 0;
	color: #333;
	line-height: 1.6em;
}
/***** Media Quries *****/

@media only screen and (max-width: 1366px) {
	.wrap{
		width:90%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) {
	.wrap{
		width:95%;
	}
	.grid {
		margin:0;
	}
	.about{ 
		margin: 2% 0 2% 0%;
	}
	.rightsidebar{
		margin:0;
	}
	.image{
		padding:3%;
	}
	.desc{
		margin:0;
	}
	.span_1_of_2 {
		width:94%;
		padding:3%;
	}
	.span_3_of_2 {
		width: 100%;
	}
	.images_3_of_2{
		width: 100%;
		margin-bottom: 1em;
	}
	.span_3_of_1 {
		width:94%;
		padding:3%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.about{ 
		margin: 2% 0 2% 0%;
	}
	.rightsidebar{
		margin:0;
	}
	.grid {
		margin:0;
	}
	.image{
		padding:4%;
	}
	.desc{
		margin:0;
	}
	.span_1_of_2 {
		width:92%;
		padding:4%;
	}
	.span_3_of_2 {
		width: 100%;
	}
	.images_3_of_2{
		width: 100%;
	}
	.span_3_of_1 {
		width:92%;
		padding:4%;
	}
}
.watch_but {
	display: inline-block;
	background:#960100;
	position: relative;
	border-radius: 2px;
	font-size: 13px;
	line-height: 11px;
	color: #FFF;
	font-family: 'Underdog';
	margin: 15px 0 0;
	padding:12px 14px 9px 10px;
        box-shadow: 3px 3px 8px black;
}

.watch_but:hover
{
    background: #f3b804;
    color: white;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
	/*-- w3layouts --*/
    -ms-transition: 0.5s all;
}
.span_3_of_2 h4{
	color:#888;
	font-size:1.5em;
	margin-bottom: 2%;
}
.link1{
	color:#1344B0;
	text-decoration:underline;
	font-size:13px;
	margin-bottom: 2%;
}
.link1:hover{
	color: #900b0b;
}
.about-top{
  
	margin:5%;
        width:100%; 
/*        width:22%;
        float:left;*/
}
.about-top2{
  
	margin:5%;
        width:22%;
        float:right;
}
.small_box{
	margin-bottom: 11px;
}
.premier .col {
	float: left;
	width: 30%;
	margin-left: 3.3%;
}
a{
	color:#888;
	font-size:13px;
	line-height:1.5em;
}
.button {
	display: inline-block;
	background: #DB9603;
	position: relative;
	border-radius: 2px;
	font-size: 13px;
	line-height: 11px;
	color: #FFF;
	border-bottom: 1px solid #DB9603;
	border-right: 1px solid #DB9603;
	margin:20px 0;
	padding: 12px 14px 9px 10px;
}
.latest_news {
	margin: -1px 5px 0 -1px;
}
.latest_news li {
	margin-bottom: 18px;
}
.date {
	background:#f0f0f0;
	color:#888;
	margin: 0 1px 10px 0;
	display: inline-block;
	border-radius: 2px;
	padding:5px;
}
.span_3_of_1 h3{
	color:#FCAC03;
	font-size:1.5em;
	margin-bottom:9%;
	background:#f0f0f0;
	padding: 8px;
}
.span_1_of_2 h3{
	color:#FCAC03;
	font-size:1.5em;
	margin-bottom:4%;
	background:#f0f0f0;
	padding: 8px;
}
li.m_bottom{
	margin-bottom:0px;
}
h4.vremeIzvodjenja, h4.datumIzvodjenja {
    font-size: 1em;
    color: white;
}
.imePredstaveee {
    color:white;
    font-size: 1.5em;
}
h4.h-text a{
	color: #960100;
	font-size:1em;
        font-weight: bold;  
}
h4.repertoar-text a{
	color: #960100;
	font-size:2em;
        font-weight: bold;  
}
h4.h-text a:hover, h4.repertoar-text a:hover{
	color:white;
}
/*--404 page--*/
.pnot {
	padding: 30px 0;
}
.pnot h1 {
	font-size: 15em;
	color: #F0F0F0;
	text-align: center;
	text-shadow: 1px 1px 6px #555;
	-moz-text-shadow: 1px 1px 6px #555;
	-webkit-text-shadow: 1px 1px 6px #555;
	-o-text-shadow: 1px 1px 6px #555;
}
/*--Contact--*/
/*  Contact Form  ============================================================================= */
.col{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child{
	margin-left:0;
}	
.span_2_of_3 {
	width: 63.1%;
	padding:1.5%; 
}
.span_1_of_3 {
	width: 29.2%;
	padding:1.5%; 
}
.span_2_of_3  h3,
.span_1_of_3  h3 {
	color:#FCAC03;
	margin-bottom:0.5em;
	font-size:1.5em;
	line-height: 1.2;
	font-weight : normal;
	margin-top: 0px;
	letter-spacing: -1px;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:0.8125em;
	color: #333;
	padding-bottom:5px;
}
.contact-form input[type="text"],.contact-form textarea{
	padding:8px;
	display:block;
	width:98%;
	background:#fcfcfc;
	border: none;
	outline:none;
	color:#464646;
	font-size:0.8125em;
	font-family:Arial, Helvetica, sans-serif;
	box-shadow: inset 0px 0px 3px #999;
	-webkit-box-shadow: inset 0px 0px 3px #999;
	-moz-box-shadow: inset 0px 0px 3px #999;
	-o-box-shadow: inset 0px 0px 3px #999;
	-webkit-appearance:none;
}
.contact-form textarea{
	resize:none;
	height:120px;		
}
.contact-form input[type="submit"]{
	padding:7px 20px;
	color:#FFF;
	cursor:pointer;
	background:#DB9603 url(../images/large-button-overlay.png);
	border: 1px solid rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
	-webkit-border-radius: 5px;
    border-radius:2px;
   	position:absolute;
    right:0;
}
.contact-form input[type="submit"]:hover{
	background-color:#111;
}
.contact-form input[type="submit"]:active{
	background-color:#DB9603;  
}
.company_address{
	padding-top:26px;
}
.company_address p{
	font-size:0.8125em;
	color: #888;
	line-height: 1.8em;
}
.company_address p span{
	text-decoration:underline;
	color:#333;
	cursor:pointer;
}
#map{
	border:1px solid #C7C7C7;
	margin-bottom:15px;
	width: 50%;
}
.mapa{
	width: 100%;
}
.OPozTekst
{
	float:left;
	margin-left:4%;
	margin-bottom:5%;
	width:60%;
	color: white;
		font-size:1.5vw;
		text-align:center;	
		/* width:65%; */

	
}
.slikaPoz{
	/* float:left; */
	margin:4%;
	  width:80%; /*ne razumem zasto ovo nije deo mainCol nego uzima 60 posto od celog contenta */

}
.mainCol{
	/*height:100%;*/ 
	 width:70%; 
	float:left;
	/* background: url(../images/contentGrad2.jpg); */
	
	/* margin-left:10%; */
	/* margin-right:10%; */
	/* margin-top:5%; */
	color: white;
		font-size:1.5vw;
		text-align:center;	

}
/***** Media Quries *****/

@media only screen and (max-width: 1366px) {
	.wrap{
		width:95%;
	}	

}
@media only screen and (max-width: 1366px) {
	.wrap{
		width:95%;
	}	

}
/*  GO FULL WIDTH AT LESS THAN 800 PIXELS */

@media only screen and (max-width: 800px) {

	.wrap{
		width:95%;
	}
/*	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}*/
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
}

/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {

.nav-wrap
{
    display: none;
}
	.wrap{
		width:95%;
	}
/*	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}*/
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
   
   .contact-form input[type="text"],.contact-form textarea{
		width:97%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
/*	.span_2_of_3 {
		width:90%;
		padding:5%; 
	}*/
	.col { 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:90%;
		padding:5%; 
	}
	.contact-form input[type="text"],.contact-form textarea{
		width:92%;
	}
}
/*--Media Queries--*/
@media only screen and (max-width:1366px) and (min-width:50px) {
	.wrap{
		width:90%;
	}
	p.txt_4 {
		font-size:1.5em;
	}
	.header-top {
		height: 30%;
	}
	.nav-wrap
	{
		margin-top: -160px;
		
	}
      
	
	#example-one li { 
	display: inline-block;	
	margin-right: 15px;
}
	#example-one a {
		font-size: 12px;
		padding: 0;	
}
/*.thumbnail{
    width:10%;
    height:10%;
}*/
}
@media only screen and (max-width:1600px) and (min-width:1499px) {
	.wrap{
		width:90%;
	}
        .header-top {
		height: 30%;
	}
	.nav-wrap
	{
		
                margin-left: 100px;
		margin-top: 60px;
	}
 
	.nav-wrap1
        {
            margin-top: 80px;
        }
        #example-one li { 
	display: inline-block;	
	margin-right: 25px;
}
	#example-one a {
		font-size: 13px;
		padding: 0;	
}
  
}
@media only screen and (max-width:1515px) and (min-width:1499px) {
	.wrap{
		width:90%;
	}
        .header-top {
		height: 30%;
	}
	.nav-wrap
	{
		
                margin-left: 100px;
		margin-top: 60px;
	}
 
	.nav-wrap1
        {
            margin-top: -40px;
        }
        #example-one li { 
	display: inline-block;	
	margin-right: 25px;
}
	#example-one a {
		font-size: 13px;
		padding: 0;	
}
  
}
@media only screen and (max-width:1499px) and (min-width:1350px) {
	.wrap{
		width:90%;
	}
        .header-top {
		height: 30%;
	}
	.nav-wrap
	{
		
                margin-left: 50px;
		margin-top: 60px;
	}
 
	.nav-wrap1
        {
            margin-top: 80px;
        }
        #example-one li { 
	display: inline-block;	
	margin-right: 25px;
}
	#example-one a {
		font-size: 13px;
		padding: 0;	
}
  
}
@media only screen and (max-width:1350px) and (min-width:1210px) {
	.wrap{
		width:90%;
	}
        .header-top {
		height: 30%;
	}
	.nav-wrap
	{
		margin: 0;
                margin-left: 50px;
		margin-top: 60px;
	}
 
	.nav-wrap1
        {
            margin-top: 80px;
        }
        #example-one li { 
	display: inline-block;	
	margin-right: 25px;
}
	#example-one a {
		font-size: 13px;
		padding: 0;	
}
  
}

/*@media only screen and (max-width:1280px) and (min-width:1024px) {
	.wrap{
		width:90%;
	}
        p.txt_4 {
		font-size:1.5em;
	}
        .header-top {
		height: 30%;
	}
	.nav-wrap
	{
		margin-top: -130px;
		
	}
        #example-one li { 
	display: inline-block;	
	margin-right: 13px;
}
	#example-one a {
		font-size: 12px;
		padding: 0;	
}
     
}
*/
@media only screen and (max-width:1210px) and (min-width:1024px) {
	.wrap{
		width:90%;
	}
	p.txt_4 {
		font-size:1.5em;
	}
	.header-top {
		height: 30%;
	}
	.nav-wrap
	{
		margin: 0;
		margin-top: 60px;
	}
 
	.nav-wrap1
        {
            margin-top: 80px;
        }
        #example-one li { 
	display: inline-block;	
	margin-right: 25px;
}
	#example-one a {
		font-size: 13px;
		padding: 0;	
}

}

@media only screen and (max-width:1024px) and (min-width:800px) {
	.wrap{
		width:90%;
	}
	p.txt_4 {
		font-size:1.5em;
	}
	.header-top {
		height: 30%;
	}
	.nav-wrap
	{
		margin-top: -130px;
		
	}
 
	.nav-wrap1
        {
            margin-top: -60px;
        }
	#example-one li { 
	display: inline-block;	
	margin-right: 13px;
}
	#example-one a {
		font-size: 12px;
		padding: 0;	
}
.vesti{
    display: block;
    float: none;
       width: 80%;
}
.skrol{
    display: block;
    float: none;
    
        width: 70%;
    padding-top: 12%;
    padding-left: 14%;
    padding-right: 14%;
    font-family: 'Underdog';
    margin-bottom: 10%;
    margin-top: 1%;

}
.OPozTekst
{
    width: 100%;
}
.budihuman2
{
    width: 15%;
}
}

@media only screen and (max-width:800px) and (min-width:640px) {
	
	.wrap{
		width:90%;
	}
	p.txt_4 {
		font-size:1.5em;
	}
	.header-top {
		height: 30%;
	}
		.nav-wrap
	{
		margin-top: -90px;
		
	}
        .nav-wrap1
        {
            margin-top: 70px;
        }
	
	#example-one li { 
	display: inline-block;	
	margin-right: 12px;
}

	#example-one a {
		font-size: 11px;
		padding: 0;	
}



.vesti{
    display: block;
    float: none;
       width: 80%;
}
.skrol{
    display: block;
    float: none;
    
               width: 70%;
    padding-top: 15%;
    padding-left: 14%;
    padding-right: 14%;
    font-family: 'Underdog';
    margin-bottom: 10%;
    margin-top: 1%;

}
.logoslika{
	width: 150px;
	height: 150px;
}
.sticky
{
    width: 70px;
    height: 70px;
    padding-top: 0;
    margin-top: 120%;
}
.OPozTekst
{
    width: 100%;
    font-size: 13px;
}
.natpisAkademsko
{
    font-size: 40px;
}
.mainCol
{
    width: 90%;
}
.slikaPoz
{
    width: 100%;
}
.budihuman2
{
    width: 20%;
}

}
@media only screen and (max-width:640px) {
    .navbarMobilni {
  display: block;

}
.navbarMobilni1{
    margin-top: 10%;
}
   

.dropdown {
  float: left;
  overflow: hidden;
  display: block;
  /*margin-top: 14%;*/
  margin: auto;
 padding-top: 50px;
}
.dropdown1 {
 padding-top: 70px;
 padding-left: 40px;
}

.dropbtn
{
    padding: 20px;
}

.sticky1{
    margin-top: -68px;
}

	.wrap{
		width:90%;
	}
	.header-top {
		height: 25%;
	}
	p.txt_4 {
		font-size:1.5em;
	}
	#example-one a {
		padding:0px;
	}
	.h-logo {
		width:30%;
	}
	#reservation-form {
		width: 65%;
	}
	#reservation-form select.select1 {
		width:150px;
	}
	#reservation-form select.select2 {
		width: 170px;
	}
	.link2 {
		margin-bottom:0px;
	}
	#example-one li { 
	display: inline-block;	
	padding:0;
}

	#example-one a {
		font-size: 9px;
		padding: 0;
		margin:-10px;		
}
	.logoslika{
	width: 120px;
	height: 120px;
	}
		.nav-wrap
	{
		margin-top: -80px;
		
		
	}
        .logoslika{
	width: 150px;
	height: 150px;
}
.sticky
{
    width: 70px;
    height: 70px;
    padding-top: 0;
    margin-top: 100%;
}
        .vesti{
    display: block;
    float: none;
       width: 100%;
}
.skrol{
    display: block;
    float: none;
       width: 100%;
            height: 360px;
    padding-top: 20%;
    padding-left: 23%;
    padding-right: 23%;
    font-family: 'Underdog';
    margin-bottom: 10%;
    margin-top: 1%;

}
#map{
	border:1px solid #C7C7C7;
	margin-bottom:15px;
	width: 95%;
}
.span_1_of_41{
    width: 80%;
    padding-left: 0;
    margin-left: 0;
    font-size: 50%;
}
.kontakt
{
    font-size: 200%;
}
.pratite{
    font-size: 200%;
}
.humTekst
{
    font-size: 80%;
}
.budihuman
{
    width: 20%;
}
.col_1_of_41:first-child{
    margin-left: 0;
}
.registracija a
{
    font-size: 10px;
}
.prijava a
{
    font-size: 10px;
}
.nav-wrap1
{
    margin-top: -50px;
}
.triSlikeImg
{
    display: block;
    margin: auto;
    margin-bottom: 15%;
    float: none;
    width: 70%;
}
.mainCol
{
    width: 90%;
}
.OPozTekst
{
    width: 100%;
    font-size: 13px;
}
.slikaPoz
{
    width: 100%;
}
.budihuman2
{
    width: 40%;
}
.natpisAkademsko
{
    font-size: 40px;
}
}
@media only screen and (max-width:420px) {
    .dropdown {
  float: left;
  overflow: hidden;
  display: block;
  /*margin-top: 14%;*/
  margin: auto;
 padding-top: 30px;
}

}
@media only screen and (max-width:390px) {

.dropdown1 {
 padding-top: 60px;
 padding-left: 40px;
}
.dropdown-content{
    min-width:40px;
}
.sticky{
	margin-top: 40%;
}
}
/*@media only screen and (max-width:480px) and (min-width:320px) {
	.wrap{
		width:90%;
	}
	.header-top {
		height: 30%;
	}
	p.txt_4 {
		font-size:1.5em;
	}
	#example-one a {
		padding:0px;
	}
	.h-logo {
		width:100%;
		float:none;
		text-align: center;
	}
	#reservation-form {
		width: 100%;
		float:none;
	}
	#reservation-form select.select1 {
		width:150px;
	}
	#reservation-form select.select2 {
		width: 170px;
	}
	.link2 {
		margin-bottom:0px;
	}
	.banner-no {
		margin: auto;
		float:none;
		display: block;
		margin-left: 70px;
		
	clear: both;
	}
	.nav-wrap {
		width:100%;
		margin: 30px auto;
		margin-top: -20px;
	}
	.logoslika{
	width: 90px;
	height: 90px;
	display: block;
	clear: both;
	}
	#example-one li { 
	display: inline-block;	
	padding:0;
}

	#example-one a {
		font-size: 10px;
		padding: 0;
		margin:-2px;		
}
}
@media only screen and (max-width:320px) and (min-width:240px) {
	.wrap{
		width:90%;
	}
	.header-top {
		height: 30%;
	}
	p.txt_4 {
		font-size:1.5em;
	}
	#example-one a {
		padding:0px;
	}
	#example-one li { 
	display: inline-block;	
	margin-right: 10px;
}
	.h-logo {
		width:100%;
		float:none;
		text-align: center;
	}
	#reservation-form {
		width: 100%;
		float:none;
	}
	#reservation-form select.select1 {
		width:150px;
	}
	#reservation-form select.select2 {
		width: 170px;
	}
	.link2 {
		margin-bottom:0px;
	}
	.banner-no {
		float:none;
		display: none;
	}
	.nav-wrap {
		width:100%;
		margin: 30px auto;
	}
}*/
@media only screen and (max-width: 1366px) {
		.content-top h3 {
		font-size: 1.5em;
	}
	.span_3_of_2 h4 {
		font-size: 1.3em;
	}
}
@media only screen and (max-width: 1280px) {
		.content-top h3 {
		font-size: 1.5em;
	}
	.span_3_of_2 h4 {
		font-size: 1.3em;
	}
}
@media only screen and (max-width: 1024px) {
	.content-top h3 {
		font-size: 1.5em;
	}
	.span_3_of_2 h4 {
		font-size: 1.3em;
	}
}
@media only screen and (max-width: 900px) {
	.images_1_of_3 {
		width: 43.2%;
	}
	.images_1_of_3:nth-child(2) {
		margin-bottom: 6em;
	}
}
@media only screen and (max-width: 900px) {
	.images_1_of_3:nth-child(2) {
		margin-bottom: 8em;
	}
	.span_1_of_2 {
		width: 100%;
	}
	.span_3_of_1 {
		width: 100%;
	}
	.small_box {
		width: 100%;
	}
}
@media only screen and (max-width: 800px) {
	.images_1_of_3 {
		width: 100%;
	}
	.images_1_of_3:nth-child(2) {
		margin-bottom: 2em;
	}
      
}
@media only screen and (max-width: 768px) {
	.span_1_of_4 {
		width: 47%;
	}
	.footer-top .span_1_of_4:nth-child(2) {
		margin-bottom: 2em;
	}
}
@media only screen and (max-width: 736px) {
	.nav-wrap {
		width: 70%;
	}
}
@media only screen and (max-width: 667px) {
	/*.nav-wrap {
		width: 75%;
	}*/
	#example-one li {
		margin-right: 10px;
	}
	#reservation-form select.select2,#reservation-form select.select1{
		width: 150px;
	}
}
@media only screen and (max-width: 640px) {
	#example-one li {
		margin-right: 33px;
	}
	.images_1_of_3 {
		width: 98%;
	}
	.span_1_of_4 {
		width: 44%;
	}
}
@media only screen and (max-width: 600px) {
	#example-one li {
		margin-right: 25px;
	}
	.span_1_of_2 {
		width: 99%;
	}
}
@media only screen and (max-width: 568px){
	.footer-top .span_1_of_4 {
		width: 98%;
	}
	.header-top .wrap {
		width: 93%;
	}
	.span_3_of_1 {
		width: 98%;
	}
}
@media only screen and (max-width: 480px){
	.nav-wrap {
		width: 100%;
	}
	.images_1_of_3 {
		width: 97%;
	}
	.footer .wrap {
		width: 89%;
	}
	.wrap {
		width: 89%;
	}
	.span_1_of_2 {
		width: 98%;
	}
	.images_3_of_2 {
		 margin-bottom: 1em;
	}
	.span_1_of_4 {
		width: 75%;
	}
}
@media only screen and (max-width: 414px){
	#example-one li {
		margin-right: 18px;
	}
	.listimg1 {
		width: 100%;
		float: none;
		margin-right: 0%;
		margin-bottom: 8%;
	}
	.copy p {
		line-height: 22px;
	}
}
@media only screen and (max-width: 384px){
	#example-one li {
		margin-right: 15px;
	}
}
@media only screen and (max-width: 375px){
	#example-one a {
		font-size: 13px;
	}
	#reservation-form select.select2, #reservation-form select.select1 {
		width: 145px;
	}
	.span_1_of_4 {
		width: 89%;
	}
}
@media only screen and (max-width: 375px){
	#example-one li {
		margin-right: 5px;
	}
	#reservation-form select.select2, #reservation-form select.select1 {
		width: 120px;
	}
}
@media only screen and (max-height: 500px){
	.nav-wrap
        {
            margin: 5px;
        }
        .dropdown
        {
            padding-top: 0;
        }
        .sticky1
        {
            margin-top: -40px;
        }
        .nav-wrap1
        {
            margin-top: 20px;
        }
        .sticky{
            margin-top: -45px;
        }
}
.kl
{
		padding-top: 10%;
}

.hum
{
	/*background: black;*/
	margin-bottom: 7%;
	text-align: center;
	font-size: 20px;
}

.humTekst
{
	color: white;
}

.humTekst1
{
	color: #960100;
	font-size: 30px;
}

.link1
{
	font-size: 30px;
	color: #00994d;
}





.textSledeceNaRep{
	text-align:center;
	color: #900b0b;
	font-size:3vw;
	
}

.textSledeceNaRep{
	text-align:center;
	color: #900b0b;
	font-size:3vw;
	
}


.budihuman2{
	
	/* width:10%; */
	/* height:10%; */
}
.k1Side{
	float:right;
	width:24%;
	/*height:100%;*/ 
	margin-right:5%;
        /*margin-top:5%;*/
	/* border: 1px solid white; */
	
}

.content2{
	
        margin:0 auto;
	float:left;
	padding:0;
	 width:100%;
	/*height:100%;*/
	
	background-size: cover;
	 background: url(../images/content.jpg); 

	/* padding: 20px 0; */
}
.content3{
	
	padding:0;
	width:100%;
	background: url(../images/contentGrad3.jpg);
	background-size: cover;
	/* padding: 20px 0; */
}
.slikaPredstave{
        border: 1px white solid;
	width:100%;
	height:100%;
        box-shadow: 5px 5px 12px black;
}
.opisPredstave, .uloge{
    margin-top:4%;
}
.leviPredstava{
    margin-left:5%;
    float:left;
    width:50%;
    height:30%;
    margin-top:3%;
        font-size:1.25em;
            margin-bottom:5%;



}
.desniPredstava{
    /*border:2px solid  #800000;*/
    font-size:1.25em;
    color:white;
    float:right;
    width:30%;
    height:100%;
   
    margin:5%;
    margin-top:3%;
    margin-bottom:5%;
}
.desniPredstava > img{
    width:100%;
}
.banner1{
    display:block;
    width:60%;
    height:30%;
    clear:both;
    margin-top:10%;
    margin-left:auto;
        margin-right:auto;

    

}
.slikaslajd{
      
    width:50%;
    height:50%;
}
.opisPredstave{
    color:white;
}



/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */



#fiksno
{
    color: #f3b804;
    /*color:white;*/
    font-size: 18px;
    overflow: hidden;
    width:100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}

.thumbnail {
    padding:0px;
}
.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}
#komentariKontejner{
    margin-top:5%;
}

.celiKomentari{
   margin-left:25%;
   margin-bottom: 15%;
}
.panel-body{
    background:transparent;
}
#pwd{
    background:none;
}
.lead emoji-picker-container{
    background:none;
}
.form-control{
    background:none;
    color:white;
   font-size:20px;
}

a, a:hover, a:active, a:focus {
    outline:0;
}

.textcontact
{
    width: 100%;
}

.registracija
{
    color: #f3b804;
    float: right;
    margin-right: 30px;

}


.prijava
{
        color: #f3b804;
    float: right;
    margin-right: 30px;
}


.divOceni {
    display: inline-block;
    margin-left: 43%;
    margin-top: 5%;
    margin-bottom: 3%;
}
.rating { margin: 5%; padding: 0; float:left; clear:both;}
#lset{ margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}
.Oceni {
    width:100px;
    height:30px;
    background-color: blue;
    color:white;
    margin:4%;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
.alert {
    margin: auto;
    height:5%;
    width: 30%;
    font-size: 20px;
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    background-size: cover;
    background-clip: padding-box;
        padding-bottom: 3%;
    
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 25px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
.divProsecnaOcena {
  
    display: inline-block;
    clear: both;
    float:right;
    color:white;
    font-size: 20px;
    
}
.divProsecnaOcena {
    font-size: 30px;
    margin-right: 100px;
}
.divvvOcena {
  
    display: inline-block;
    clear: both;
    float:right;
    color:white;
    
}
.prosecnaOcena {
    float:right;
    font-size: 32px;
    color:white;
    
}
.zvezdica {
    top-margin: 0px;
    width:34px;
    height:34px;
    background:  url(../images/zvezdica1.png);
    float:right;
}
.span_3_of_2 h4{

	font-size:1.1em;

}